#header {
  font-size: 12px;
  background-color: orange;
  padding: 20px;
}

#left-bar {
  font-size: 12px;
  color: white;
  background-color: #484C5B;
  padding: 20px;
  text-align: right;
}

#left-bar a {
  color: #B8EBEF;
}

#footer {
  font-size: 10px;
  padding-bottom: 50px;
}

#right-content-area {
  text-align: justify;
  text-justify: inter-word;
}



a {
  color: #336699;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0px;
}

body {
  font-size: 10pt;
}

td.center-label {
  font-size: 8pt;
  line-height: 10pt;
  vertical-align: middle;
}

.headroom {
  margin-top: 20px;
}

.main-photo {
    text-align: right;
    width: 80%;
    max-width: 180px;
    height: auto;
    margin-bottom: 10px;
}

.small-photo {
    text-align: right;
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.center-align {
  text-align: center;
}

.sm {
  font-size: 10pt;
  line-height: 10pt;
}



.tight {
  margin-bottom: 6pt;
  line-height: 14pt;
}

.small-icon {
  vertical-align: middle;
  width: 14px;
  height: auto;
}

.accent {
  color: red;
}

.sel-pub-head {
  margin-bottom: 10px;
}

.compare-table {
  text-align: left;
  text-justify: inter-word;
}
