<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">

    <link rel="stylesheet" href="css/main.css" type="text/css">

    <title>Mark W. Newman | School of Information</title>

  </head>

  <body>

    <div class="container-fluid"> <!-- container for the whole page -->
      <div class="row"> <!-- row for the whole page -->
        <div class="col-md-2" id="left-bar">

          <img class="main-photo" src="img/2017_newman_mark_110x110.jpg" width="150"/>
          <br/>


          <h2>Mark W. Newman</h2>
          Associate Professor <br/>
          School of Information<br/>
          EECS Department <br/>
          University of Michigan<br/>
          <br/>

          <h2>Contact </h2>
          e: mwnewman@umich.edu <br/>
          o: 4380 North Quad <br/>
          p: 734-764-0020 <br/>
          <br/>

          <h2>Office Hours </h2>
          Wednesdays, maybe<br/>
          <br/>

          <h2>Associations</h2>
            inteco<br/>
            MISC<br/>
            UMSI<br/>
            AVR<br/>

        </div> <!-- left bar -->

        <!-- div class="col-md-10" id="right-content-area" -->

          <!-- div class="row" id="two-column-area" -->

        <div class="col-md-5" id="left-column">
          <h1>About Me</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
            natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus mus. Donec quam felis, ultricies nec, pellentesque
            eu, pretium quis, sem. Nulla consequat massa quis enim.
            Donec pede justo, fringilla vel, aliquet nec, vulputate
            eget, arcu. In enim justo, rhoncus ut, imperdiet a,
            venenatis vitae, justo. Nullam dictum felis eu pede mollis
            pretium. Integer tincidunt.
          </p>
        </div> <!-- left column -->

        <div class="col-md-5" id="right-column">
          <h1>ResearchXX </h1>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
            natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus mus. Donec quam felis, ultricies nec, pellentesque
            eu, pretium quis, sem. Nulla consequat massa quis enim.
            Donec pede justo, fringilla vel, aliquet nec, vulputate
            eget, arcu. In enim justo, rhoncus ut, imperdiet a,
            venenatis vitae, justo. Nullam dictum felis eu pede mollis
            pretium. Integer tincidunt.
          </p>
        </div> <!-- right column -->

          <!--/div --> <!-- row two-column-area -->

          <!--div id="selected-pubs">
            <h1>Selected Publications</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
              Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
              natoque penatibus et magnis dis parturient montes, nascetur
              ridiculus mus. Donec quam felis, ultricies nec, pellentesque
              eu, pretium quis, sem. Nulla consequat massa quis enim.
              Donec pede justo, fringilla vel, aliquet nec, vulputate
              eget, arcu. In enim justo, rhoncus ut, imperdiet a,
              venenatis vitae, justo. Nullam dictum felis eu pede mollis
              pretium. Integer tincidunt.
            </p>

          </div --> <!-- selected pubs -->

          <!--div class="container centered center-align">
            <hr width="50%"/>
            Built on March 2, 2019 using Jekyll 3.x </br>
            Copyright 2019 - Mark W. Newman
          </div --> <!-- footer -->

        <!-- /div --> <!-- right-content-area -->

      </div> <!-- whole page row -->
    </div> <!-- whole page container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Why is this at the bottom>? Seems like it should be earlier? -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
  </body>

</html>
